<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>Pizza Luigi</title>
    <link rel="stylesheet" href="css/luigi.css">
    <link rel="icon" href="images/luigi.ico" type="image/x-icon">
</head>
<body>
<h1>Pizza Luigi</h1>
<img src="images/luigi.jpg" alt="pizza" class="fullwidth">
<h2>Goede <span th:text = "${boodschap}"></span> </h2>
<h2>De zaakvoerder</h2>
<dl th:object="${zaakvoerder}">
    <dt>Naam</dt>
    <dd th:text = "*{naam}"></dd>
    <dt>Aantal kinderen</dt>
    <dd th:text = "*{aantalKinderen}"></dd>
    <dt>Gehuwd</dt>
    <dd th:text = "*{gehuwd}?'ja':'nee'"></dd>
    <dt>Adres</dt> <dd th:object="${zaakvoerder.adres}"   th:text="|*{straat} *{huisNr} *{postcode} *{gemeente}|"></dd>
</dl>
</body>
</html>